<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Hackster.io Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Projects from Hackster.io I've built.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <iframe frameborder='0' width=289 height=350 scrolling='no' src='https://www.hackster.io/bluetiger9/nanosense-motion-ultra-low-power-wireless-motion-sensing-f74c56/embed'></iframe>
  </div>
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <iframe frameborder='0' width=289 height=350 scrolling='no' src='https://www.hackster.io/bluetiger9/ultra-low-power-battery-powered-applications-with-the-rsl-10-db5d0a/embed'></iframe>
  </div>
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <iframe frameborder='0' width=289 height=350 scrolling='no' src='https://www.hackster.io/bluetiger9/deep-eye-deepstream-based-video-analytics-made-easy-d6dc5e/embed'></iframe>
  </div>

  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <iframe frameborder='0' width=289 height=350 scrolling='no' src='https://www.hackster.io/bluetiger9/scan-me-wire-contactless-badge-3dad43/embed'></iframe>
  </div>
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <iframe frameborder='0' width=289 height=350 scrolling='no' src='https://www.hackster.io/bluetiger9/iota-enabled-solid-state-switch-and-power-meter-c299bb/embed'></iframe>
  </div>
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <iframe frameborder='0' width=289 height=350 scrolling='no' src='https://www.hackster.io/bluetiger9/soracom-powered-gnss-tracker-38416e/embed'></iframe>
  </div>

  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <iframe frameborder='0' width=289 height=350 scrolling='no' src='https://www.hackster.io/bluetiger9/stereo-vision-and-lidar-powered-donkey-car-575769/embed'></iframe>
  </div>
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <iframe frameborder='0' width=289 height=350 scrolling='no' src='https://www.hackster.io/bluetiger9/lora-to-ethernet-gateway-ff9684/embed'></iframe>
  </div>
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <iframe frameborder='0' width=289 height=350 scrolling='no' src='https://www.hackster.io/bluetiger9/coolswitch-wireless-high-power-smart-switch-6fe824/embed'></iframe>
  </div>
  <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">&nbsp;&nbsp;&nbsp;<i><a href="https://www.hackster.io/bluetiger9/projects" target="blank">See more of my project on Hackster.io</a></i></p>
</div>
